---

- name: Git clone floss
  ansible.builtin.git:
    repo: https://github.com/fireeye/flare-floss.git
    dest: "{{ toolsetdir }}/floss"
    version: "{{ floss_version }}"
    recursive: "{{ floss_git_recurse | default('no') }}"

- name: Install floss executable build dependencies
  ansible.builtin.apt:
    name: libpython2.7-dev
    state: present
  when: ansible_facts['distribution_release'] == 'trusty'
  register: pkg_result
  until: pkg_result is success

- name: Install floss executable build pip dependencies
  ansible.builtin.pip:
    name: pyinstaller
    version: "{{ floss_pyinstaller_version | default('3.6') }}"
    state: present
    executable: "{{ floss_pip | default(_floss_pip) }}"
  register: pkg_result
  until: pkg_result is success

- name: Check floss.spec is preset
  ansible.builtin.stat:
    path: "{{ toolsetdir }}/floss/.github/pyinstaller/floss.spec"
  register: spec

- name: Build floss executable with pyinstaller
  ansible.builtin.command: "pyinstaller .github/pyinstaller/floss.spec"
  args:
    creates: dist/floss
    chdir: "{{ toolsetdir }}/floss"
  environment:
    PATH: "/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  when: spec.stat.exists

- name: Install floss executable
  ansible.builtin.copy:
    src: "{{ toolsetdir }}/floss/dist/floss"
    dest: /usr/local/bin/floss
    mode: '0755'
    remote_src: yes
  when: spec.stat.exists
