---

- name: Include version-specific variables for Ubuntu.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Ubuntu'
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_version.split('.''])[0] }}.yml"
  when: ansible_facts['os_family'] == "RedHat"
- name: Include version-specific variables for Alpine
  ansible.builtin.include_vars: "Alpine.yml"
  when: ansible_facts['os_family'] == "Alpine"

- name: Import floss
  ansible.builtin.import_tasks: floss.yml
- name: Import floss-build-exec
  ansible.builtin.import_tasks: floss-build-exec.yml
  when: floss_build_standalone
